/*
Project Name: Week 2 assignment-landing page
Client: Relaxr
Author: Michelle O'Connor
Developer @GA in London
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */

}

/* Clear fix hack */
.clearfix:after {
  content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
  clear: both;
}



/******************************************
/* BASE STYLES
/*******************************************/

/*font weights
100    Extra Light or Ultra Light
200    Light or Thin
300    Book or Demi
400    Normal or Regular
500    Medium
600    Semibold, Demibold
700    Bold
800    Black, Extra Bold or Heavy
900    Extra Black, Fat, Poster or Ultra Black*/

body {
	font-family: 'Open Sans', sans-serif;
	background: #f0efef;
	font-size: 12px;
	line-height: 1.4;
	font-color:#606161;

}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: 0 auto;

}

/*blog*/
a{text-decoration: none;}

/*blog and index*/
header{
	background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
	background-size: cover;
	padding:35px;
}

/*blog*/
.nav li{display:inline;
		float:right;
		padding-right: 10px;
		font-weight:600;
		font-size:12px;
}

.nav li a{color:white;
}
	
/*index*/
body
.intro {
	background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
	background-size: cover;

}
/*blog*/
.main {
	background-color:white;
	display:block;
	width:700px;
	margin:0 auto;


}

.mainquote{
	height:500px;
}

/*blog*/
.main p{
	font-size:15px;
	font-weight:200;
}

/*blog,index*/
.logo {
	font-weight:900;
	font-size:24px;
	text-align: left;
	color:white;	}

/*blog,index*/
.bottom {
	font-weight:900;
	font-size:24px;
	text-align:center;
	color:#f9e42e;
}
/*blog*/
.mainquote h2, .middle h6  {
	font-weight:600;
	font-size:24px;
	text-align: center;
	padding: 20px;
}

/*index*/

.container h2{
	font-weight:600;
	font-size:24px;
	text-align: center;
	padding: 50px;
}

/*index*/

.benefits h4	{
	font-weight:600;
	font-size:20px;
	text-align:center;
	margin:auto;
	padding:20px;
}

/*index*/

.benefits p
	{
	font-weight:200;
	font-size:13px;
	text-align:center;
	margin:auto;
	display:block;
	padding:20px;
	}

/*index*/

.benefits ul{
	font-weight:200;
	font-size:13px;
	text-align:center;
	margin:auto;
	display:block;
	padding:15px;
}
/*index,blog*/

.button{
	border-radius:5px;
	text-align:center;
	margin:auto;
	display: block;
	width:30%;
	padding:15px;
	font-size:14px;
	font-weight:900;

}
/*index*/
.yellow{
	background:#f9e42e;
	color:#033048;
}
/*index,blog*/
.blue{
	background:#033048;
	color:#f9e42e;
	}

/*index*/
.quote h1{
	font-size:18px;
	font-style:italic;
	font-weight:200;
	text-align: center;
}
/*index*/
.quote p{
	font-weight:600;
	font-size: 18px;
	text-align: center;
}


/***need to add in grey line between first section and second section, 
tried creating a div in HTML but unable to style in CSS blog page*/ 

}
.middle h6{
	text-align: center;
	font-weight: 800;
	font-size: 50px;
}

/*blog*/
.middle{
	width:700px;
	height:800px;
	margin-bottom: 20px;

}

/*blog*/
.sidebar{
	margin-top: 30px;
	float:right;
	width: 275px;


}
/*blog*/
.sidebar ul{
	padding-bottom: 25px;
}

/*blog*/
.sidebar h6{
	font-size: 20px;
	font-weight:600;
}

/*blog*/
.sidebar p{
	padding-bottom: 15px;
}

/*blog*/
.sidebar a{
	font-weight:600px;

}

/*index,blog*/
.copyright {
	font-weight:600;
	font-size: 9px;
	text-align: center;

	}

.yellowbox{
	background-color: yellow;
	padding:25px;
}

footer {
	position:fixed;
   bottom:0;
   height:220px;
   width:100%;
   background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
	background-size: cover;

}	

.social{
	text-align: center;
}

.social li{
		display:inline;

}

.firstcharacter {
  color: black;
  float: left;
  font-size: 50px;
  
}

a:hover{color:yellow;}











/******************************************
/* ADDITIONAL STYLES
/*******************************************/
